#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop files
*.userprefs
*.pidb
*~

#Tooling
_ReSharper*/
*.resharper
.fake/

#Project files
[Bb]uild/*

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet

#build artifacts
deploy/
reports/
merged/
test/
Documentation-*/
Output/

#nCrunch files
*.crunchproject.local.xml
*.crunchsolution.local.xml

#nuget stuff
*.nupkg
src/Pickles/packages/
src/Pickles/Pickles.1.2.dotCover

#TestRunner stuff
src/Pickles/TestResults/
src/Pickles/PrecompiledWeb/
.merge_file_*


# FAKE stuff
packages/FAKE/
packages/Chocolatey/

# Fody
!src/Pickles/packages/Fody*/build/*
src/Pickles/.vs/config/applicationhost.config
