<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net35" />
  <package id="ClosedXML" version="0.69.2" targetFramework="net35" />
  <package id="DocumentFormat.OpenXml" version="1.0" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net35" />
  <package id="NGenerics" version="1.4.1.0" targetFramework="net35" />
  <package id="NUnit" version="2.6.3" targetFramework="net35" />
  <package id="Should" version="1.1.20" targetFramework="net35" />
  <package id="ShouldFluent" version="1.1.19" targetFramework="net35" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net35" />
  <package id="System.IO.Abstractions" version="1.4.0.86" targetFramework="net35" />
  <package id="System.IO.Abstractions.TestingHelpers" version="1.4.0.86" targetFramework="net35" />
</packages>