<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net45" />
  <package id="ClosedXML" version="0.85.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="FeatureSwitcher" version="1.1.0" targetFramework="net45" />
  <package id="Gherkin" version="4.0.0" targetFramework="net45" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net35" />
  <package id="NDesk.Options" version="0.2.1" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.2" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.140" targetFramework="net45" />
</packages>