/*************************************************************************
 * Entire body
 *************************************************************************/

#container
{
  width: 90%;
  margin: 10px auto;
  background-color: #F2F2F2;
  color: #333;
  border: 1px solid gray;
  line-height: 130%;
}

/*************************************************************************
 * Header/Top
 *************************************************************************/

#top
{
  padding: .5em;
  background-color: #ddd;
  border-bottom: 1px solid gray;
}

#top h1
{
  padding: 0;
  margin: 0;
}

/*************************************************************************
 * Table of Contents
 *************************************************************************/

#toc
{
  float: left;
  width: auto;
  margin-right: auto;
  padding: 1em;
}

#toc p 
{ 
  margin: 0 0 1em 0; 
}

ul.features {
  margin: 0;
  padding: 0;
  border-top: 1px solid #e8e8e8;
  list-style-type: none;  }
  ul.features li ul {
    margin: 0;
    padding: 0; }
      ul.features li ul li {
        border-bottom: 1px solid #e8e8e8;
        padding: 3px 20px 4px; }
  ul.features a {
    text-decoration: none; }
  ul.features a:hover {
    text-decoration: underline; }

/*************************************************************************
 * Feature
 *************************************************************************/

ul#features 
{
	margin-left:0;
	padding: 0 0 1.25em 0;
	list-style:none;
	list-style-image:none;
}

#feature
{
  float:left;
  margin-left: auto;
  border-left: 1px solid gray;
  padding: 1em;
  max-width: 50em;
}

#feature h1 
{ 
  margin: 0 0 .5em 0; 
}

/*************************************************************************
 * Feature - formatting tables (example or step tables)
 *************************************************************************/

#feature table {
  width: auto;
  margin: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background-color: #eee; }
  #feature table th, #feature table td {
    padding: 3px 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; }
  #feature table th {
    font-weight: bold; }

/*************************************************************************
 * Feature - formatting scenarios and steps
 *************************************************************************/

ul#scenarios {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul#scenarios li.scenario {
    margin-top: 1.5em;
    background: #fdffec; }
    ul#scenarios li.scenario .scenario-heading {
      padding: 7px 10px 11px; }
      ul#scenarios li.scenario .scenario-heading h2 {
        font-weight: bold;
        margin: 0; }
        ul#scenarios li.scenario .scenario-heading h2 a {
          text-decoration: none;
          color: inherit; }
        ul#scenarios li.scenario .scenario-heading h2 span {
          color: #5dc800; }
    ul#scenarios li.scenario .description {
      margin-top: 8px;
      margin-bottom: 0px;
      padding-left: 24px; }
      ul#scenarios li.scenario .description p {
        margin-top: 0.5em;
        margin-bottom: 0.5em; }
    ul#scenarios li.scenario .steps {
      padding: 12px 0 21px; }
      ul#scenarios li.scenario .steps ul {
        list-style-type: none;
        margin: 0 25px;
        padding: 0; }
        ul#scenarios li.scenario .steps ul span.keyword {
          color: #5db500; }
      ul#scenarios li.scenario .steps .step {
        padding-top: 0.4em; }
    ul#scenarios li.scenario .examples ul {
      list-style-type: none;
      margin: 0;
      padding: 12px; }

/*************************************************************************
 * Feature - Formatting the docStrings
 *************************************************************************/

.step pre 
{
  background-color: #E0F8E0;
  font-size: 0.85em;
  border-color: #fff;
  margin: 0.5em 0 0.5em 1.2em;
  overflow: auto; 
}

.step pre code 
{
  font:0.95em 'monaco', 'lucida console', monospace;
  display:block;
  padding:.5em;
  background:#000;
  color:#f8f8f8 
}

/*************************************************************************
 * Footer
 *************************************************************************/

#footer
{
  clear : both;
  margin : 0;
  padding : .5em;
  color: #333;
  background-color : #ddd;
  border-top : 1px solid gray;
}